@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #fbf6ef;
  padding: 0 10px;

}

.row {
  justify-content: center;
}


.wrapper {
  /* max-width: 500px;
  width: 100%; */
  background: rgb(236, 226, 219);
  /* margin: auto; */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  padding: 30px;
  border-radius: 10px;
  margin-top: 10%;
}

.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #6a5b53;
  text-transform: uppercase;
  text-align: center;
}


.wrapper .form {
  width: 100%;
}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
  border: 1px solid #6a5b53;
}

.wrapper .form .inputfield p {
  font-size: 14px;
  color: #757575;
}


.wrapper .form .inputfield .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background: #6a5b53;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover {
  background: #b1a49d;
}

.wrapper .form .inputfield:last-child {
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper .form .inputfield label {
    margin-bottom: 5px;
  }

  .wrapper .form .inputfield.terms {
    flex-direction: row;
  }
}

/* Vote Image Selection Div */
.voteSel {
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

#showCreateVote {
  position: sticky;
  top: 5%;
}

#load .img-container {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.voteSel .row {
  display: block;
}

.outfitSelContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  width: 800px;
  margin: 0 auto;
}

.outfitSelCard {
  position: relative;
  height: 300px;
  width: 200px;
  margin: 10px;
}

.outfitSelCard input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.outfitSelCard input:checked~.card-content {
  border-color: green;
}

.outfitSelCard .card-content {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  border: 3px solid #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.outfitSelCard img {
  position: relative;
  height: 100%;
  width: 300px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all ease 0.3s;
}

.outfitSelCard:hover img {
  width: 150%;
  height: 400px;
}

.outfitSelCard input:checked~.outfitSelContent img {
  filter: greyscale(0.4);
}

.outfitSelContent h4 {
  margin: 0 0 8px 0;
}

.outfitSelCard:active {
  transform: scale(0.96);
}

.outfitSelContent {
  position: absolute;
  bottom: -122px;
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  transition: all ease 0.3s;
}

.outfitSelCard:hover .outfitSelContent {
  bottom: 0;
}

.outfitSelCard input:checked~.outfitSelCard:before,
.outfitSelCard input:checked~.outfitSelContent:after {
  content: '';
  position: absolute;
  z-index: 1;
}

.card-content:before {
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: green;
}

.card-content:after {
  height: 4px;
  width: 8px;
  top: 16px;
  right: 16px;
  border: 1px solid #ffffff;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}

#imagegallery {
  justify-content: center;
}