.card {
    background-color: #F9F6F2;
}

section {
    background-color: #E5D5C6;
}



h1 {
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: 500;
    color: #482B1B;
}

p {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #6C757D;
}

button {
    font-family: 'Open Sans';
    font-size: 14px;
    background-color: #482B1B;
    color: #E5D5C6;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

button:hover {
    background: #D0A68E;
}