#voteContainer{
    width: 1200px;
    border-radius: 10px;
    background-color:  #F9F6F2;
    margin: auto;
  }

  .card {
    background-color: #E5D5C6;
  }

  #votetitle,
  #voteOccasion,
  .card-header,
  .card-title {
    color: var(--color-primary);
    font-family: var(--font-primary);
  }

  #votetitle{
      text-align: left;
      font-size: 48px;
  }

  #voteOccasion {
    text-align: left;
    font-size: 16px;
  }

  img {
      height: 450px;
  }

  .closebtn {
    font-family: var(--font-secondary);
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 100px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #fff;
    background: var(--color-primary);
    border: 0px;
  }

  .closebtn:hover {
    background-color:#D0A68E;
  }

.copy-link-button {
    width: 60px;
    height: 60px;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: background 0.25s;

    outline: blue;
    border: none;
    cursor: pointer;
}

.copy-link-button:active,
.copy-link-button:hover {
    background: #D0A68E;
}

.material-symbols-outlined {
  padding-top: 17px;
}
