.card {
  padding: 10px;
  margin: 10px;
}


input {
  width: 50px;
  border: none;
  background: none;
  font-size: 25px;
  margin: 0 10px;
  pointer-events: none;
}

button {
  color: #fff;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 15px;
  margin: 10px 0;
  margin-left: 20px;
  cursor: pointer;
}

button:active {
  color: red;
  transform: scale(1.2);
}